# emacs
alias em='emacs -nw'
alias emg='emacs &'
alias emc='emacsclient'

# git
alias gst='git status'
alias gadd='git add'
alias gco='git commit'
alias gdi='git diff'
alias gmv='git mv'
alias gpl='git pull'
alias gph='git push'

# tmux
alias tmuxn='tmux new -s'
alias tmuxa='tmux attach -t'
alias tmuxks='tmux kill-session -t'
alias tmuxls='tmux ls'

# sshfs
alias sshfs_m='~/projects/dotfiles/scripts/sshfs_mnt.sh'
alias sshfs_u='~/projects/dotfiles/scripts/sshfs_umnt.sh'
